# In all environments, the following files are loaded if they exist,
# the latter taking precedence over the former:
#
#  * .env                contains default values for the environment variables needed by the app
#  * .env.local          uncommitted file with local overrides
#  * .env.$APP_ENV       committed environment-specific defaults
#  * .env.$APP_ENV.local uncommitted environment-specific overrides
#
# Real environment variables win over .env files.
#
# DO NOT DEFINE PRODUCTION SECRETS IN THIS FILE NOR IN ANY OTHER COMMITTED FILES.
# https://symfony.com/doc/current/configuration/secrets.html
#
# Run "composer dump-env prod" to compile .env files for production use (requires symfony/flex >=1.2).
# https://symfony.com/doc/current/best_practices.html#use-environment-variables-for-infrastructure-configuration

###> symfony/framework-bundle ###
APP_ENV=dev
APP_CTP_CLIENT_ID=your client id
APP_CTP_CLIENT_SECRET=your client secret
APP_CTP_PROJECT_KEY=your project key
APP_CTP_API_URI=https://api.europe-west1.gcp.commercetools.com
APP_CTP_AUTH_URI=https://auth.europe-west1.gcp.commercetools.com/oauth/token
NEW_RELIC_LICENSE_KEY=your new relic lincense key

# APP_NAME=PHP-SDK
###< symfony/framework-bundle ###
