<?xml version="1.0" encoding="UTF-8"?>

<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/8.0/phpunit.xsd"
    bootstrap="vendor/autoload.php"
    backupGlobals="false"
    backupStaticAttributes="false"
    verbose="true"
>
    <testsuites>
        <testsuite name="unit">
            <directory suffix="Test.php">test/unit</directory>
            <directory suffix="Test.php">lib/commercetools-api/test/unit</directory>
            <directory suffix="Test.php">lib/commercetools-import/test/unit</directory>
            <directory suffix="Test.php">lib/commercetools-base/test/unit</directory>
        </testsuite>
        <testsuite name="integration">
            <directory suffix="Test.php">test/integration</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
            <directory suffix=".php">lib/commercetools-api/src</directory>
            <directory suffix=".php">lib/commercetools-base/src</directory>
        </whitelist>
    </filter>
    <php>
        <ini name="memory_limit" value="-1"/>
    </php>
</phpunit>
