# In all environments, the following files are loaded if they exist,
# the latter taking precedence over the former:
#
#  * .env                contains default values for the environment variables needed by the app
#  * .env.local          uncommitted file with local overrides
#  * .env.$APP_ENV       committed environment-specific defaults
#  * .env.$APP_ENV.local uncommitted environment-specific overrides
#
# Real environment variables win over .env files.
#
# DO NOT DEFINE PRODUCTION SECRETS IN THIS FILE NOR IN ANY OTHER COMMITTED FILES.
# https://symfony.com/doc/current/configuration/secrets.html
#
# Run "composer dump-env prod" to compile .env files for production use (requires symfony/flex >=1.2).
# https://symfony.com/doc/current/best_practices.html#use-environment-variables-for-infrastructure-configuration

###> symfony/framework-bundle ###
APP_ENV=dev
APP_CTP_CLIENT_ID=your client id
APP_CTP_CLIENT_SECRET=your client secret
APP_CTP_PROJECT_KEY=your project key
DD_AGENT_HOST=datadog-agent
DD_TRACE_AGENT_PORT=8126
DD_SERVICE=symfony-app
DD_API_KEY=your datadog api key
DD_APM_ENABLED=true
DD_TRACE_CLI_ENABLED=true
DD_TRACE_ENABLED=true
DD_SITE=datadoghq       # It changes in base of the area
NEWRELIC_KEY=your new relic key
NEWRELIC_APP_NAME=PHP-SDK
NEW_RELIC_AGENT_VERSION=  # Specify the New Relic agent version you want


###< symfony/framework-bundle ###
