service: extension-responder

provider:
    name: aws
    region: eu-west-1
    runtime: provided.al2

plugins:
    - ./vendor/bref/bref

functions:
    api:
        handler: index.php
        reservedConcurrency: 1
        description: ''
        timeout: 5 # in seconds (API Gateway has a timeout of 29 seconds)
        runtime: php-81-fpm
        events:
            -   http: 'ANY /'
            -   http: 'ANY /{proxy+}'

# Exclude files from deployment
package:
    exclude:
        - 'node_modules/**'
        - 'tests/**'
